{% extends "base.html" %}
{% block content %}
<body style="background-image: linear-gradient(rgb(241, 241, 241), rgb(238, 228, 228), rgb(243, 239, 239));">
    {% include 'creator/head.html' %}
    <div class="d-flex flex-column align-items-center">
        <div style="width: 60%; gap: 4px; " class="row" >
            <div class="col" style="background-color: white;">
                <div style="background-color: rgb(255, 0, 0, 0.3);" id="messager"></div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div style="background-color: rgb(255, 0, 0, 0.3); border-bottom: 1px solid red; border-radius: 5px;"
                    class="p-1">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}
                <div class="d-flex justify-content-between">
                    <h4>Edit Song ...</h4>
                    <button onclick="delete_song({{song.id}})" class="btn btn-danger m-1">Delete</button>
                </div>
                <form action="{{'/song/update/' + song.id|string}}" method="post" enctype="multipart/form-data">

                    <div class="form-group m-1">
                        <div class="m-1"><label for="title">Song title</label></div>
                        <input type="name" name="title" id="title" placeholder="Enter Title" class="w-100"
                            value="{{song.title}}">
                    </div>
                    <div class="form-group m-1">
                        <div class="m-1"><label for="description">Description</label></div>
                        <input type="text" name="description" id="description" placeholder="Enter description"
                            class="w-100" value="{{song.description if song.description else ''}}">
                    </div>
                    <label for="audio">Audio File</label>
                    <div class="form-group m-1 p-1" style="border: 1px solid black">
                        <div class="m-1">
                            {% if song.audio %}
                            <span>Uploaded File <audio controls>
                                    <source src={{'/song/' + song.audio}}>
                                </audio></span>
                            {% endif %}
                        </div>
                        <input type="file" name="audio" id="audio" placeholder="Audio File" accept=".mp3,.wav,.ogg">
                    </div>
                    <div class="m-1"><label for="image">Image File</label></div>
                    <div class="form-group m-1 p-1" style="border: 1px solid black">
                        <div class="m-1">
                            {% if song.image %}
                            <span>Uploaded File <img src={{'/image/' + song.image}} width="250" height="auto"></span>
                            {% endif %}
                        </div>
                        <input type="file" name="image" id="image" placeholder="Image File" accept="image/*">
                    </div>

                    <div class="form-group m-1">
                        <div class="m-1"><label for="genre">Genre</label></div>
                        <select value="{{song.genre}}" style="width: 100%;" class="p-1 m-1" name="genre">
                            {% for gen in genres %}
                            <option value="{{gen.name}}">{{gen.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group m-1">
                        <div class="m-1"><label for="genre">Language</label></div>
                        <select value="{{song.language}}" style="width: 100%;" class="p-1 m-1" name="language">
                            {% for language in languages %}
                            <option value="{{language.name}}">{{language.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary m-1">Submit</button>

            </div>
            <div class="col" style="background-color: white; overflow-y: scroll;">
                <div class="m-1"><label for="lyrics">Lyrics</label></div>
                <textarea type="text" name="lyrics" id="lyrics" placeholder="Enter lyrics" class="w-100 p-1"
                    style="white-space: pre-wrap; height: 90%;">{{song.lyrics if song.lyrics else ''}}</textarea>
            </div>

        </div>

        </form>
    </div>
    <script>
        async function delete_song(song_id) {

            const res = await fetch('/api/song/delete/' + song_id,
                {
                    method: "DELETE",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }
            );

            if (res.ok) {
                const message = document.getElementById("messager")
                console.log(message)
                message.innerText = "Deleted Successfully close the tab"
            }
        }
    </script>
</body>
<br>
{% endblock %}