{% extends "base.html" %}
{% block content %}

<body style="background-image: linear-gradient(rgb(241, 241, 241), rgb(238, 228, 228), rgb(243, 239, 239));">
    {% include 'admin/head.html' %}

    <form action="/admin/genre" method="post" enctype="multipart/form-data">
        <div class="d-flex justify-content-center">
            <div style=" gap: 10px;" class="d-flex justify-content-center">
                <div class="card p-4" style="width: 25rem;">
                    <div class="form-group m-1" style="height:fit-content;">

                        {% if genres|length %}
                        <h4>List of all genres</h4>
                        <ol>
                            {% for gen in genres %}
                            <li>{{gen.name}}</li>
                            {% endfor %}
                        </ol>
                        {% else %}
                        <h4>Add genres here</h4>
                        {% endif %}
                    </div>
                </div>
                <div class="card p-4" style="width: 25rem; height:fit-content;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div style="background-color: rgb(255, 0, 0, 0.3); border-bottom: 1px solid red; border-radius: 5px;"
                        class="p-1">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <h4>Add Genre ...</h4>

                    <div class="form-group m-1">
                        <div class="m-1"><label for="title">Genre Name</label></div>
                        <input type="name" name="name" id="title" placeholder="Enter Genre Name" class="w-100">
                    </div>
                    <br>
                    <div style="background-color: rgb(255, 0, 0, 0.3); border-bottom: 1px solid red; border-radius: 5px;"
                        class="p-1">
                        Beware You might not be able to reverse it
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary m-1">Submit</button>

                </div>
            </div>
            <div style="height:95vh;" class="d-flex flex-column align-items-center justify-content-center">

            </div>
        </div>
    </form>
</body>
{% endblock %}