<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="m-2">
    <div style="height:5vh;" class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="text-left px-2"><a href="/admin/genre">Genres</a></div>
            <div>|</div>
            <div class="text-left px-2"><a href="/admin/language">Languages</a></div>
            <div>|</div>
            <div class="text-left px-2"><a href="/admin/creator">Creators</a></div>
            <div>|</div>
            <div class="text-left px-2"><a href="/admin/song">Songs</a></div>
            <div>|</div>
            <div class="text-left px-2"><a href="/admin/album">Albums</a></div>
        </div>
        <div class="d-flex">
            <div class="text-right px-2"><a href="/admin">Home</a></div>
            <div>|</div>
            <div class="text-right px-2"><a href="/logout">Logout</a></div>
        </div>
    </div>
</div>