{% extends "base.html" %}
{% block content %}

<body style="background-image: linear-gradient(rgb(241, 241, 241), rgb(238, 228, 228), rgb(243, 239, 239));">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <div class="m-1 mx-2">
        <div style="height:4vh; width:99vw;" class="d-flex justify-content-end">
            <div class="text-right px-2"><a href="/creator">Creator Account</a></div>
            <div>|</div>
            <div class="text-right px-2"><a href="/logout">Logout</a></div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-around mb-1" style="height: 94vh;">
        <div style="width:18vw; min-height: 100%;">
            <button type="button" onclick="location.href = '/search'" class="btn btn-primary m-1"><i
                    class="glyphicon glyphicon-search"></i> Search</button>

            <div class="p-2" style="background-color: blue; border-radius: 20px; max-width: fit-content;"
                onclick="history.forward()">
                <i id="like" class="glyphicon glyphicon glyphicon-chevron-right p-1" style="color: black;"></i>
            </div>
            <div class="p-2" style="background-color: blue; border-radius: 20px; max-width: fit-content;"
                onclick="history.back()">
                <i id="like" class="glyphicon glyphicon glyphicon-chevron-left p-1" style="color: black;"></i>
            </div>
        </div>
        <div style="width:80vw; min-height: 100%; " class="d-flex flex-row justify-content-around mb-1">
            <div>
                <input type="text" placeholder="Title" name="title" id="title">
                <button onclick="search()">Search</button>
                <div class="form-group m-1">
                    <div class="m-1"><label for="genre">Genre</label></div>
                    <select style="width: 100%;" class="p-1 m-1" name="genre" id="genre" value="all">
                        <option value="all">All</option>
                        {% for gen in genres %}
                            <option value="{{gen.name}}">{{gen.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group m-1">
                    <div class="m-1"><label for="genre">Language</label></div>
                    <select style="width: 100%;" class="p-1 m-1" name="language" id="language" value="all">
                        <option value="all">All</option>
                        {% for language in languages %}
                            <option value="{{language.name}}">{{language.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script>
            
        const search = async () => {
            title = document.getElementById('title').value
            language = document.getElementById('language').value
            genre = document.getElementById('genre').value

            // console.log(title)
            // params = {
            //         title : title,
            //         language : language,
            // }
            // pr= (new URLSearchParams(params)).toString()
            // console.log(pr)
            
            const query =  `/api/album/song/search?title=${title}&genre=${genre}&language=${language}`
            res = await fetch(query, 
                {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type' : 'application/json'
                    }
                }
            );
            res.json().then(() => {
                setLike()
            });
        }
    </script>
</body>
{% endblock %}

{% block footer %}

{% endblock %}