{% extends "base.html" %}
{% block content %}

<body style="background-image: linear-gradient(rgb(241, 241, 241), rgb(238, 228, 228), rgb(243, 239, 239));">
    {% include 'creator/head.html' %}
    <div class="d-flex flex-column align-items-center">

            <div class="card p-4" style="width: 25%;">
                <div style="background-color: rgb(255, 0, 0, 0.3);"
                                id="messager"></div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div style="background-color: rgb(255, 0, 0, 0.3); border-bottom: 1px solid red; border-radius: 5px;"
                    class="p-1">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}
                <div class="d-flex justify-content-between">
                    <h4>Edit Album ...</h4>
                    <button onclick="delete_album({{album.id}})" class="btn btn-danger m-1">Delete</button>
                </div>
                <form action="{{'/creator/album/edit/' + (album.id)|string}}" method="post" enctype="multipart/form-data">
                <div class="form-group m-1">
                    <div class="m-1"><label for="title">Album title</label></div>
                    <input type="name" name="title" id="title" placeholder="Enter Title" class="w-100"
                        value="{{album.title}}" required>
                </div>
                <div class="form-group m-1">
                    <div class="m-1"><label for="description">Description</label></div>
                    <input type="text" name="description" id="description" placeholder="Enter description" class="w-100"
                        value="{{album.description}}">
                </div>
                <div class="m-1"><label for="image">Image File</label></div>
                <div class="form-group m-1 p-1" style="border: 1px solid black">
                    <div class="m-1">
                        {% if album.image %}
                        <span>Uploaded File <img src={{'/image/' + album.image}} width="250" height="auto"></span>
                        {% endif %}
                    </div>
                    <input type="file" name="image" id="image" placeholder="Image File" accept="image/*">
                </div>

                <button type="submit" class="btn btn-primary m-1">Next</button>

            </div>

        </form>
    </div>
    <script>
        async function delete_album(album_id){
            
            const res = await fetch('/api/playlist/delete/' + album_id,
                {
                    method: "DELETE",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }
            );

            if (res.ok){
                const message = document.getElementById("messager")
                console.log(message)
                message.innerText = "Deleted Successfully close the tab"
            }
        }
    </script>
</body>
<br>
{% endblock %}