<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<div class="m-2">
    <div style="height:5vh;" class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="text-left px-2"><a href="/search/album">Albums</a></div>
            <div>|</div>
            <div class="text-left px-2"><a href="/search/song">Songs</a></div>
        </div>
        <div class="d-flex">
            <div class="text-right px-2"><a href="/">Home</a></div>
            <div>|</div>
            <div class="text-right px-2"><a href="/creator">Creator Account</a></div>
            <div>|</div>
            <div class="text-right px-2"><a href="/profile">Profile</a></div>
            <div>|</div>
            <div class="text-right px-2"><a href="/logout">Logout</a></div>
        </div>
    </div>
</div>