{% extends "base.html" %}
{% block content %}
<body style="background-image: linear-gradient(rgb(241, 241, 241), rgb(238, 228, 228), rgb(243, 239, 239));">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <div class="m-1 mx-2">
        <div style="height:4vh; width:99vw; background-color: rgb(217, 248, 248);" class="d-flex justify-content-end">
            <div class="text-right px-2"><a href="/creator">Creator Account</a></div>
            <div>|</div>
            <div class="text-right px-2"><a href="/logout">Logout</a></div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-around mb-1" style="height: 94vh;">
        <div style="width:18vw; min-height: 100%; background-color: aqua;" >
            <button type="button" onclick="location.href = '/search'" class="btn btn-primary m-1"><i class="glyphicon glyphicon-search"></i> Search</button>
        </div>
        <div style="width:80vw; min-height: 100%; background-color: aqua;" class="d-flex flex-row justify-content-around mb-1">
            <div>
                <i class="bi bi-arrow-left-square-fill"></i>
                <img src="{{'/image/' + song.image}}"  height="150" style="object-fit: cover;">
                <h4>{{song.title}}</h4>
                <p>{{song.description}}</p>
            </div>
            <div style="width:50%; font-size: 1.75rem;">
                {{song.lyrics}}
            </div>
            {{give(song)|safe}}
        </div>  
    </div>
</body>
{% endblock %}

{% block footer %}
    
{% endblock %}